export JENKINS_URL
JENKINS_URL=http://localhost:8080

export JENKINS_LEADER_ADMIN_USER
JENKINS_LEADER_ADMIN_USER=admin

export JENKINS_LEADER_ADMIN_PASSWORD
JENKINS_LEADER_ADMIN_PASSWORD=jenkins

export JENKINS_MINION_SSH_USER
JENKINS_MINION_SSH_USER=jenkins

export JENKINS_MINION_SSH_PASSWORD
JENKINS_MINION_SSH_PASSWORD=jenkins
